##### Verida Network
# Required. Verida network environment devnet | testnet | mainet
VERIDA_NETWORK_ENVIRONMENT=

# Required. Verida Meta Transaction Server URL
VERIDA_META_TRANSACTION_SERVER=

# Required. Verida IPFS gateway URL
VERIDA_IPFS_GATEWAY_URL=

#####


##### Blockchain related
# Required. The Infura API key for the blockchain RPC URL.
INFURA_API_KEY=

# Required. the Polygon RPC URL on Mumbai network
POLYGON_MUMBAI_RPC_URL=
# Required. the Verida contract address on Polygon Mumbai network
POLYGON_MUMBAI_VERIDA_CONTRACT_ADDRESS=

# Required. the Polygon RPC URL on Mainet network
POLYGON_MAINNET_RPC_URL=
# Required. the Verida contract address on Polygon Mainet network
POLYGON_MAINNET_VERIDA_CONTRACT_ADDRESS=

# Required, used for NFTs
IPFS_GATEWAY_URL=

#####


##### WalletConnect
# Required. WalletConnect project ID
WALLETCONNECT_PROJECT_ID=
# Required. WalletConnect Replay URL
WALLETCONNECT_RELAY_URL=

#####


##### Required. CodePush deployment keys for Android and iOS 
CODE_PUSH_DEPLOYMENT_KEY_ANDROID=
CODE_PUSH_DEPLOYMENT_KEY_IOS=
#####


##### Telemetry
# Optional. Define the log level among the following values, by order: "error", "warn", "info" (default), "debug".
LOG_LEVEL=

# Optional. Enabled capture events to Sentry, default is disabled on __DEV__ mode
SENTRY_ENABLED="false"

# Optional. The environment for Sentry. Default to 'local' if undefined.
SENTRY_ENVIRONMENT=

# Required. Sentry DSN
SENTRY_DSN=

######


##### Dev configs
# Optional. Show/hide the React Native Logbox on devices in the Dev mode for debugging, default is enabled
LOG_BOX_ENABLED="true"
# Optional. Enable capture QR code from the clipboard, only enabled in __DEV__ mode, default is disabled
USE_QR_CODE_FROM_CLIPBOARD="false"

#####