##### Verida Network #####

### Devnet

# Required. Verida RPC URL (Polygon) for devnet
VERIDA_DEVNET_RPC_URL=

# Required. Verida Notification Server URL
VERIDA_DEVNET_NOTIFICATION_SERVER_URL=

# Required. Verida Data Connector URL
VERIDA_DEVNET_DATA_CONNECTOR_URL=

# Required. Verida Meta Transaction Server URL for devnet
VERIDA_DEVNET_META_TRANSACTION_SERVER_URL=

### Testnet

# Required. Verida RPC URL (Polygon) for testnet
VERIDA_TESTNET_RPC_URL=

# Required. Verida Notification Server URL for testnet
VERIDA_TESTNET_NOTIFICATION_SERVER_URL=

# Required. Verida Data Connector URL for testnet
VERIDA_TESTNET_DATA_CONNECTOR_URL=

# Required. Verida Meta Transaction Server URL for testnet
VERIDA_TESTNET_META_TRANSACTION_SERVER_URL=

### Mainnet

# Required. Verida RPC URL (Polygon) for mainnet
VERIDA_MAINNET_RPC_URL=

# Required. Verida Notification Server URL for mainnet
VERIDA_MAINNET_NOTIFICATION_SERVER_URL=

# Required. Verida Data Connector URL for mainnet
VERIDA_MAINNET_DATA_CONNECTOR_URL=

# Required. Verida Meta Transaction Server URL for mainnet
VERIDA_MAINNET_META_TRANSACTION_SERVER_URL=

##### Verida Wallet #####

# Required. Verida Wallet Provider URL
VERIDA_WALLET_PROVIDER_URL=

##### Blockchains #####

# Required. The Infura API key for some blockchain RPC URLs provided by Wallet provider.
INFURA_API_KEY=

# Optional. Used for NFTs and other protocols (Polygon ID for instance)
IPFS_GATEWAY_URL=

##### Polygon ID #####

# Required. Polygon RPC URL on Mumbai network
POLYGON_ID_TESTNET_RPC_URL=

# Required. Polygon RPC URL on Mainet network
POLYGON_ID_MAINNET_RPC_URL=

# Required. Revocation server URL for Polygon ID.
POLYGON_ID_REVOCATION_BASE_URL=

# Required. URL to download the Polygon ID circuits.
POLYGON_ID_CIRCUITS_DOWNLOAD_URL=

##### WalletConnect #####

# Required. WalletConnect project ID
WALLETCONNECT_PROJECT_ID=
# Required. WalletConnect Replay URL
WALLETCONNECT_RELAY_URL=wss://relay.walletconnect.com

##### CodePush #####

# Required. CodePush deployment keys for Android and iOS
CODE_PUSH_DEPLOYMENT_KEY_ANDROID=
CODE_PUSH_DEPLOYMENT_KEY_IOS=

##### Telemetry #####

# Optional. Define the log level among the following values, by order: "error", "warn", "info", "debug". This is used for both the console (dev mode only) and for Sentry breadcrumbs. Default to 'info' if undefined.
LOG_LEVEL=info

# Optional. Hide stack traces in logs, default to 'false' (stack traces are shown
HIDE_STACK_TRACES_IN_LOG=false

# Optional. Enable capture events to Sentry, default to 'false' if undefined
ENABLE_SENTRY=false

# Optional. Sentry Identifier for the project. If undefined, Sentry will be disabled, whatever the value of ENABLE_SENTRY.
SENTRY_DSN=

# Optional. The environment for Sentry such as 'production', 'staging' or 'development'. Default to 'local' if undefined.
SENTRY_ENVIRONMENT=

##### Development #####

# Optional. Disable the React Native Logbox on devices in the Dev mode for debugging, default to 'false' (LogBox is enabled). Ignored in production.
DISABLE_LOG_BOX=false

# Optional. Enable capturing QR code from the clipboard. Default to 'false' (clipboard value not used). Ignored in production.
ENABLE_CLIPBOARD_IN_QR_CODE_SCANNER=false
