##### Code Push

# TODO: Write a description
CODE_PUSH_DEPLOYMENT_KEY_ANDROID=

# TODO: Write a description
CODE_PUSH_DEPLOYMENT_KEY_IOS=

##### Build

# TODO: Write a description
DEPLOY_ENVIRONMENT=

# TODO: Write a description
BITRISE_TRIGGERED_WORKFLOW_TITLE=

##### Verida Network

# Required. Verida network
NETWORK_ENVIRONMENT=

# Required. Verida Meta Transaction Server URL
NETWORK_ENDPOINT_URL=

#####

# Required. The Infura API key for the blockchain RPC URL.
INFURA_API_KEY=

##### Telemetry

# Optional. Define the log level among the following values, by order: "error", "warn", "info" (default), "debug".
LOG_LEVEL=

# Optional. The environment for Sentry. Default to 'local' if undefined.
SENTRY_ENVIRONMENT=
