<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795597262002-uvfocu3r5a7m689r3edjckl8qnch5egq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795597262002-uvfocu3r5a7m689r3edjckl8qnch5egq</string>
	<key>API_KEY</key>
	<string>AIzaSyD3QBIX1a7zvq32ojHU4EcjTsk96ihJ824</string>
	<key>GCM_SENDER_ID</key>
	<string>795597262002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.verida.vault.internal</string>
	<key>PROJECT_ID</key>
	<string>verida-vault</string>
	<key>STORAGE_BUCKET</key>
	<string>verida-vault.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795597262002:ios:3f7ec62dd5d27df7070dab</string>
</dict>
</plist>